
{% extends "home/master-page.html" %}
{% load static %}

{% block navbar%}
{% include "includes/navbar.html" %}
{% endblock %}

{% block main-content %}
<main class="app-main">
  <div class="app-content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Giá Vàng</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giá Vàng</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="app-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-header border-0">
              <h3 class="card-title">Giá Vàng Hiện Tại</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th>Loại Vàng</th>
                    <th>Giá Mua</th>
                    <th>Giá Bán</th>
                    <th>Đơn Vị</th>
                    <th>Ngày Cập Nhật</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bangGiaVang in bangGiaVangs %}
                  <tr>
                    <td>{{ bangGiaVang.loaiVang }}</td>
                    <td>{{ bangGiaVang.giaMua }}</td>
                    <td>{{ bangGiaVang.giaBan }}</td>
                    <td>{{ bangGiaVang.donVi }}</td>
                    <td>{{ bangGiaVang.ngayCapNhat }}</td>
                    <td><a href="#" class="text-secondary"> <i class="bi bi-search"></i> </a></td>
                  </tr>
                  {% empty %}
                  <tr><td colspan="5">Chưa cập nhật giá vàng.</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main-content %}

{% block left-menu%}
{% include "includes/left-menu.html" %}
{% endblock %}

{% block footer%}
{% include "includes/footer.html" %}
{% endblock %}
