{%extends "home/master-page.html"%}
{% load static%}


{% block navbar%}
{% include "includes/navbar.html" %}
{% endblock %}

{% block main-content %}

<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Chương Trình Khuyến Mãi</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="home.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Chương trình khuyến mãi</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
       
        <!--begin::Row-->
        <div class="row">
          <div class="col-md-12">
            
          </div>
          <!-- /.col -->
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row">
          <div class="card mb-4">
            <div class="card-header border-0">
              <h3 class="card-title">Khuyến mãi hiện hành</h3>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a>
                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th>Mã KM</th>
                    <th>Mô tả (nếu có)</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Tỷ lệ chiết khấu</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for chuongTrinhKhuyenMai in chuongTrinhKhuyenMais %}
                    <tr>
                      <td>{{ chuongTrinhKhuyenMai.maKM }}</td>
                      <td>{{ chuongTrinhKhuyenMai.moTa }}</td>
                      <td>{{ chuongTrinhKhuyenMai.ngayBatDau }}</td>
                      <td>{{ chuongTrinhKhuyenMai.ngayKetThuc }}</td>
                      <td>{{ chuongTrinhKhuyenMai.tyLeChietKhau }} %</td>
                      <td>
                        <td>
                          <div class="dropdown">
                            <a href="#" class="text-secondary" data-bs-toggle="dropdown">
                              <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                <a class="dropdown-item" href="{% url 'edit-discount' chuongTrinhKhuyenMai.maKM %}">
                                  <i class="bi bi-pencil-square"></i> Sửa
                                </a>
                              </li>
                               <li>
                                <a class="dropdown-item text-danger" href="{% url 'delete-discount' chuongTrinhKhuyenMai.maKM %}">
                                  <i class="bi bi-trash"></i> Xóa
                                </a>
                              </li> 
                            </ul>
                          </div>
                        </td>
                      </td>
                    </tr>
                    {% empty %}
                   <tr><td colspan="4">Không có chương trình khuyến mãi nào.</td></tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
          <!-- /.card -->
          <!-- Start col -->
          <div class="col-md-8">
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>

{% endblock main-content %}

{% block left-menu%}
{% include "includes/left-menu.html" %}
{% endblock %}

{% block footer%}
{% include "includes/footer.html" %}
{% endblock %}