{%extends "home/master-page.html"%}
{% load static%}


{% block navbar%}
{% include "includes/navbar.html" %}
{% endblock %}

{% block main-content %}

<main class="app-main">
    <div class="app-content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Chỉnh sửa Chương Trình Khuyến Mãi</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="home.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa Chương Trình Khuyến Mãi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="app-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="maKM" class="form-label">Mã KM</label>
                <input type="text" class="form-control" id="maKM" name="maKM" value="{{ chuongTrinhKhuyenMai.maKM }}" readonly>
              </div> 
              <div class="mb-3">
                <label for="tenKM" class="form-label">Mô Tả</label>
                <input type="text" class="form-control" id="moTa" name="moTa" value="{{ chuongTrinhKhuyenMai.moTa }}">
              </div>
              <div class="mb-3">
                <label for="ngayBatDau" class="form-label">Ngày Bắt Đầu</label>
                <input type="date" class="form-control" id="ngayBatDau" name="ngayBatDau" value="{{ chuongTrinhKhuyenMai.ngayBatDau }}">
              </div>
              <div class="mb-3">
                <label for="ngayKetThuc" class="form-label">Ngày Kết Thúc</label>
                <input type="date" class="form-control" id="ngayKetThuc" name="ngayKetThuc" value="{{ chuongTrinhKhuyenMai.ngayKetThuc }}">
              </div>
              <div class="mb-3">
                <label for="giaTriKM" class="form-label">Giá Trị KM (%)</label>
                <input type="number" class="form-control" id="tyLeChietKhau" name="tyLeChietKhau" value="{{ chuongTrinhKhuyenMai.tyLeChietKhau }}">
              </div>
              <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock main-content %}

{% block left-menu%}
{% include "includes/left-menu.html" %}
{% endblock %}

{% block footer%}
{% include "includes/footer.html" %}
{% endblock %}