{% extends "home/master-page.html" %}
{% load static %}

{% block navbar %}
{% include "includes/navbar.html" %}
{% endblock %}

{% block main-content %}
<main class="app-main">
  <div class="app-content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Khách hàng</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Khách hàng</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="app-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-header border-0">
              <h3 class="card-title">Danh sách khách hàng</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th>Mã KH</th>
                    <th>Họ tên KH</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th>Điểm tích lũy</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  {% for khachHang in khachHangs %}
                  <tr>
                    <td>
                      <img
                        src="{% static 'home/dist/assets/img/default-150x150.png' %}"
                        alt="Avatar"
                        class="rounded-circle img-size-32 me-2"
                      /> 
                      {{ khachHang.maKH }}
                    </td>
                    <td>{{ khachHang.hoTen }}</td>
                    <td>{{ khachHang.soDT }}</td>
                    <td>{{ khachHang.email }}</td>
                    <td>{{ khachHang.diemTichLuy }}</td>
                    <td>
                      <div class="dropdown">
                        <a href="#" class="text-secondary" data-bs-toggle="dropdown">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a class="dropdown-item" href="{% url 'edit-customer' khachHang.maKH %}">
                              <i class="bi bi-pencil-square"></i> Sửa
                            </a>
                          </li>
                           <li>
                            <a class="dropdown-item text-danger" href="{% url 'delete-customer' khachHang.maKH %}">
                              <i class="bi bi-trash"></i> Xóa
                            </a>
                          </li> 
                        </ul>
                      </div>
                    </td>
                  </tr>
                  {% empty %}
                  <tr><td colspan="6">Chưa cập nhật khách hàng.</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main-content %}

{% block left-menu %}
{% include "includes/left-menu.html" %}
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
