{%extends "home/master-page.html"%}
{% load static%}


{% block navbar%}
{% include "includes/navbar.html" %}
{% endblock %}


{% block main-content %}
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Sản Phẩm</h3></div>
          <div class="col-sm-6 d-flex justify-content-end">
            <a href="{% url 'add-product' %}" class="btn btn-success">
              <i class="bi bi-plus-lg"></i> Thêm sản phẩm
            </a>
            
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
       
        <!--begin::Row-->
        <div class="row">
          <div class="col-md-12">
            
          </div>
          <!-- /.col -->
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row">
          <div class="card mb-4">
            <div class="card-header border-0">
              <h3 class="card-title">Sản phẩm hiện có</h3>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a>
                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th>Mã SP</th>
                    <th>Tên SP</th>
                    <th>Trọng lượng</th>
                    <th>Barcode SP</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for sanPham in sanPhams %}
                    <tr>
                      <td>{{ sanPham.maSP }}</td>
                      <td>{{ sanPham.tenSP }}</td>
                      <td>{{ sanPham.trongLuong }}</td>
                      <td>{{ sanPham.barcodeSP }}</td>
                      <td>
                        <div class="dropdown">
                          <a href="#" class="text-secondary" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">
                              <i class="bi bi-search"></i> Xem
                            </a>
                            <a class="dropdown-item" href="{% url 'edit-product' sanPham.maSP %}">
                              <i class="bi bi-pencil-square"></i> Sửa
                            </a>
                            <a class="dropdown-item text-danger" href="{% url 'delete-product' sanPham.maSP %}">
                              <i class="bi bi-trash"></i> Xóa
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% empty %}
                   <tr><td colspan="4">Không có sản phẩm nào.</td></tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
          <!-- /.card -->
          <!-- Start col -->
          <div class="col-md-8">
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>

{% endblock main-content %}

{% block left-menu%}
{% include "includes/left-menu.html" %}
{% endblock %}

{% block footer%}
{% include "includes/footer.html" %}
{% endblock %}